<section class="section blue">
	<div class="container">
		<div *ngIf="!valid; else forminfo">
			<form [formGroup]="rForm" (ngSubmit)="onSubmit(rForm.value)">
				<div>
					<label for="name">Name</label><br>
					<input type="text" class="input" formControlName="name">
					<div *ngIf="!rForm.controls['name'].valid && rForm.controls['name'].touched">
						{{ alert.name }}
					</div>
				</div>
				<br>
				<div>
					<label for="description">Description</label><br>
					<textarea id="description" class="input" formControlName="description" cols="30" rows="10"></textarea>
					<div *ngIf="!rForm.controls['description'].valid && rForm.controls['description'].touched">
						{{ alert.description }}
					</div>
				</div>
				<div>
					<input type="submit" value="Submit" 
						[disabled]="!rForm.valid"
						class="btn">
				</div>
			</form>
		</div>
	</div>

	<ng-template #forminfo>
		<div>
			<p>
				{{ name }}
			</p>
			<p>
				{{ description }}
			</p>
		</div>
	</ng-template>
</section>