@import '../../../variables';
@import '../../../functions';
@import '../../../mixins';

.banner {
	padding: 20px;
	text-align: center;
}

.banner__title {
	color: white;
	font-weight: 100;
	letter-spacing: 2px;
	text-transform: uppercase;
	@include responsiveText(1.5, 2.5);
}