@import '../../../variables';
@import '../../../functions';
@import '../../../mixins';

.social {
	background: color(light);
}

.social a {
	display: inline-block;
	width: 90px;
	height: 90px;
	border: 1px solid #909090;
	border-radius: 100%;
} 
.social a i{
	font-size: 30px;
  line-height: 92px;
	color: #909090;
}

footer {
	color: color(light);

	padding: spacing(sm);

	@include responsivePadding(
		(sm, spacing(md)),
		(md, spacing(lg))
  );
}

footer a {
	color: lighten(color(dark), 20%);
	text-decoration: none;
}

footer .list {
	margin: 0;
	padding: 0;
}