<section class="section social text--center">	
	<div class="container--small">
		<h3 class="headline">
			GET US ON
		</h3>

		<div class="grid_xs-2_sm-3">
			<div class="col">
				<a href="#">
					<i class="fa fa-twitter"></i>
				</a>
			</div>
			<div class="col">
				<a href="#">
					<i class="fa fa-pinterest"></i>
				</a>
			</div>
			<div class="col">
				<a href="#">
					<i class="fa fa-facebook"></i>
				</a>
			</div>
			<div class="col">
				<a href="#">
					<i class="fa fa-google-plus"></i>
				</a>
			</div>
			<div class="col">
				<a href="#">
					<i class="fa fa-youtube"></i>
				</a>
			</div>
			<div class="col">
				<a href="#">
					<i class="fa fa-tumblr"></i>
				</a>
			</div>
		</div>
	</div>
</section>
<!--
<section class="section social-links">
	<div class="container--small">
			<div class="grid social-links">
				<div class="col">
					<a href="#"><i class="fa fa-facebook fa-lg"></i></a>
				</div>
				<div class="col">
					<a href="#"><i class="fa fa-twitter fa-lg"></i></a>
				</div>
				<div class="col">
					<a href="#"><i class="fa fa-google-plus fa-lg"></i></a>
				</div>
				<div class="col">
					<a href="#"><i class="fa fa-pinterest fa-lg"></i></a>
				</div>
			</div>
	</div>
</section>
-->

<footer>
	<div class="container">
		<div class="grid">

			<div class="col_xs-12_sm-4_md-4">
				<ul class="list">
					<li>
						<h4 class="list__title">
							questions?
						</h4>
					</li>
					<li>
						<a href="#">Help</a>
					</li>
					<li>
						<a href="#">Track Order</a>
					</li>
					<li>
						<a href="#">Returns</a>
					</li>
				</ul>
			</div>

			<div class="col_xs-12_sm-4_md-4">
				<ul class="list">
					<li>
						<h4 class="list__title">
							where to buy
						</h4>
					</li>
					<li>
						<a href="#">Store Locator</a>
					</li>
					<li>
						<a href="#">Wishlist</a>
					</li>
					<li>
						<a href="#">Gift Cards</a>
					</li>
				</ul>	
			</div>

			<div class="col_xs-12_sm-4_md-4">
				<ul class="list">
					<li>
						<h4 class="list__title">
							about us
						</h4>
					</li>
					<li>
						<a href="#">Our Story</a>
					</li>
					<li>
						<a href="#">Careers</a>
					</li>
					<li>
						<a href="#">Affiliates</a>
					</li>
				</ul>	
			</div>

			<div class="col_xs-12 self-center">
				<img src="assets/cards.png" alt="">
			</div>

			<div class="col_xs-12 self-center text--center">
				<img src="assets/logo2.png" class="logo--small" alt="Classy">
				<p>
					Ecommerce PSDTheme
				</p>
			</div>


		</div>
	</div>
</footer>