<header [ngClass]="headerClass == true ? 'transparent' : ''">
	<div class="container">
		<div class="grid-middle-noGutter-2">
			<div class="col">
				<a [routerLink]="['/']">
					<img src="assets/logo2.png" alt="Classy">
				</a>
			</div>
			<div class="col right">
			
				<nav>
					<ul>
						<li class="xs-hidden">
							<a href="#">
								<i class="fa fa-user"></i> Login
							</a>
						</li>
						<li class="xs-hidden">
							<a href="#">
								<i class="fa fa-cart"></i> 3 items
							</a>
						</li>
						<li class="xs-hidden">
							<i class="fa fa-search"></i>
						</li>
						<li>
							<a href="#">
								<i class="fa fa-navicon"></i>
							</a>
						</li>
					</ul>
				</nav>
			
			</div>
		</div>
	</div>
<!--
	<p>header works!</p>
	<p>
	<a [routerLink]="['/']">home</a> - <a [routerLink]="['/contact']">contact</a>
	</p>-->
</header>