@import '../../../variables';
@import '../../../functions';
@import '../../../mixins';

header {
	color: color(light);
	padding: spacing(sm);

	@include responsivePadding(
		(sm, spacing(md)),
		(md, spacing(lg))
  );

  	&.transparent {
		position: absolute;
		left: 0; top: 0; right: 0;
		/*width: 100%;*/
	}
}

nav { }

nav a {
	color: inherit;
	text-decoration: none;
}

nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 0;
	padding: 0;
}

nav ul li {
	list-style: none;
	margin: 0;
	padding: 0;

	&+li {
		margin-left: map-get($spacing, xs);
	}
}
