<section class="hero" style="background-image: url(assets/collection.png)">
	<div class="container--small">
		<h2 class="hero__subtitle">
			most wanted
		</h2>
		<h1 class="hero__title">
			new collection
		</h1>
		<a href="#" class="btn">
			Click me
		</a>
	</div>
</section>

<section *ngIf="products" class="section" id="collection">

	<div class="container container--spaceless">
	
		<ul class="controls">
			<li class="controls__item">
				New collection (1-32 of 58)
			</li>
			<li class="controls__item controls__dropdown">
				sort by <i class="fa fa-arrow-down"></i>
			</li>
			<li class="controls__item controls__dropdown">
				features <i class="fa fa-arrow-down"></i>
			</li>
			<li class="controls__item controls__dropdown">
				size <i class="fa fa-arrow-down"></i>
			</li>
			<li class="controls__item controls__dropdown">
				colour <i class="fa fa-arrow-down"></i>
			</li>
			<li class="controls__item controls__dropdown">
				price <i class="fa fa-arrow-down"></i>
			</li>
		</ul>


		<div class="grid-4_lg-2_xs-1">
			<div *ngFor="let product of products" class="col item">
				<img class="item__image" 
				     src="assets/dresses/{{ product.thumbnail }}" alt="{{ product.title }}">
				
				<div class="item__details">
					<h4 class="item__title">
						{{ product.title }}
					</h4>

					<div class="item__actions">
						<div class="item__price">
							${{ product.price }}
						</div>
						<div class="item__link">
							<a [routerLink]="['/product', product.id]"
								class="btn btn--small btn--dark">
									<i class="fa fa-shopping-bag"></i> 
									add to bag
								</a>
						</div>
					</div>
				</div>
			</div>


		<!--	<div class="col item">
				<img class="item__image" src="assets/dress.png" alt="">

				<div class="item__details">
					<h4 class="item__title">
						Some dress
					</h4>
					<div class="item__actions">
						<div class="item__price">
							$49
						</div>
						<div class="item__link">
							<a href="#" class="btn btn--small btn--dark">
								<i class="fa fa-shopping-bag"></i> 
								add to bag
							</a>
						</div>
					</div>
				</div>



			</div>
			<div class="col item"><img class="item__image" src="assets/dress.png" alt=""></div>
			<div class="col item"><img class="item__image" src="assets/dress.png" alt=""></div>
			<div class="col item"><img class="item__image" src="assets/dress.png" alt=""></div>
			<div class="col item"><img class="item__image" src="assets/dress.png" alt=""></div>
			<div class="col item"><img class="item__image" src="assets/dress.png" alt=""></div>-->
		</div>

		<ul class="pager">
			<li class="pager__item">
				<a href="#" class="pager__link pager__link--active">1</a>
			</li>
			<li class="pager__item">
				<a href="#" class="pager__link">2</a>
			</li>
			<li class="pager__item">
				<a href="#" class="pager__link">3</a>
			</li>
			<li class="pager__item">
				<a href="#" class="pager__link">4</a>
			</li>
			<li class="pager__item">
				<a href="#" class="pager__link">5</a>
			</li>
		</ul>
	</div>
</section>


<section class="section blue text--center">
	<form class="form" action="#">
		<input type="text" class="input" placeholder="Your email"> 
		<input type="submit" class="btn btn--inverse" value="subscribe to our newsletter">
	</form>
</section>
