@import '../../variables';
@import '../../functions';
@import '../../mixins';

h1, h2 {
	margin: 0;
}

#hero {
	padding: 100px 0;
}

.controls {
	display: none;
	font-weight: bold;
	list-style: none;
	margin: 0 0 spacing(md) 0;
	padding: 0;

	color: color(dark-alternate);

	@include breakpoint(md) {
		display: flex;
	}
}

.controls__item {
	&+.controls__item {
		margin-left: spacing(sm);
	}
}

.controls__dropdown {
	color: inherit;
	text-decoration: none;
	text-transform: uppercase;
}

.item {
	color: color(dark);
}

.item__image {
	width: 100%;
}

.item__title {
	font-weight: normal;
	text-align: center;
}

.item__price {
	font-size: $size * 1.5;
}

.item__actions {
	display: flex;
	align-items: center;

	&>* {
		flex: 1;
	}
}

.pager {
	align-items: center;
	list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-top: spacing(sm);
  justify-content: center;
}

.pager__item+.pager__item {
	margin-left: spacing(xs);
}

.pager__link {
	color: lighten(color(dark), 30%);
	text-decoration: none;

	&--active {
		color: color(dark);
		font-size: $size * 1.5;
	}
}