@import '../../variables';
@import '../../functions';
@import '../../mixins';

.product__gallery {
	list-style: none;
	margin: 0;
	padding: 0;
	img {
		width: 100%;
	}

	li+li {
		margin-top: spacing(sm);
	}
}

.product__title {
	color: color(dark);
	font-weight: 100;
	margin-top: 0;
	@include responsiveText(1.5, 3);
}

.product__price {
	color: color(dark);
	@include responsiveText(1.2, 2);
}

.product__select {
	border: 2px solid color(grey);
	padding: spacing(xs);
	width: 100%;
}

.product__image {
	width: 100%;
}

.product__controls *+* {
	margin-top: spacing(sm);
}


// Tabs
.tabs [data-tab] {
	display: none;
}

.tabs .is--active {
	display: block;
}

.tabs {
	display: flex;
  /*display: table; */
  position: relative;
  /*width: 100%;*/
	
	&>* {
		box-sizing: border-box;
	}
}

.tab {
  /*display: inline-block;*/
  /*display: table-cell;*/
	flex: 1;}

.tab div {
  background: white;
  
  opacity: 0;
  padding: 20px 0;
  position: absolute;
  left: 0;
  
	p {
		line-height: 2;
		color: color(dark-alternate);
	}

  width: 100%; }

.tab div > * {
  opacity: 0;
  transition: opacity .5s ease; }

.tab input[type=radio] {
  display: none; }

.tab input[type=radio]:checked ~ div  {
  opacity: 1;}

.tab input[type=radio]:checked ~ div > * {
  opacity: 1;}

.tab input[type=radio]:checked ~ label {
  /*background: white; */
	border-bottom-color: color(light);
	border-top-color: color(dark-alternate);
	border-left-color: color(dark-alternate);
	border-right-color: color(dark-alternate);
}

label {
  /*background: #bbb;*/
  box-sizing: border-box;
  cursor: pointer; 
  display: inline-block;
  padding: 10px;
  border: 1px solid transparent;
  border-bottom-color: color(dark-alternate);
  width: 100%; }

#discount {
  background-image: url(/assets/discount.png);
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  @include breakpoint(sm) {
  	height: 40vh;
  }
}

#discount a.btn {
	border-width: 2px;
	@include responsiveText(1, 3);
	@include breakpoint(sm) {
		border-width: 5px;
	}
}

.info__title {
	color: color(dark);
	letter-spacing: 5px;
	text-align: center;
	padding-bottom: spacing(sm);
	position: relative;
	@include responsiveText(2, 5);

	&:before {
		display: none;
    content: "";
    height: 3px;
    width: 71px;
    background: color(blue);
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);

    @include breakpoint(sm) {
    	display: block;
    }
	}
}

.info__text {
	color: color(dark-alternate);
	font-size: $size * 1.2;
	line-height: 2;
	text-align: center;
}


.box__image {
	display: block;
	width: 100%;
}

.box--dark {
	background: color(dark);
	color: color(light);
}

.box--blue {
	background: color(blue);
	color: color(light);

	.box__text {
		color: color(light);
	}
}

.box__details {
	padding-left: spacing(sm);
	padding-right: spacing(sm);


	@include breakpoint(md) {
		max-width: 75%;
		margin: 0 auto;
		padding: 0;
	}
}

.box__title {
	font-weight: 100;
	text-transform: capitalize;
	@include responsiveText(1.5, 3);
}

.box__text {
	color: lighten(color(dark-alternate), 20%);
	line-height: 2;
}