<app-banner [banner]="banner"></app-banner>

<section *ngIf="product; else notFound">
	<section class="section product">
		<div class="container">

			<div class="grid">
				<div class="col-6_md-1 grid">
					<div class="col-2 md-hidden">
						<ul class="product__gallery">
							<li><img src="https://dummyimage.com/600x400/eeeeee/fff&text=+" alt=""></li>
							<li><img src="https://dummyimage.com/600x400/eeeeee/fff&text=+" alt=""></li>
							<li><img src="https://dummyimage.com/600x400/eeeeee/fff&text=+" alt=""></li>
							<li><img src="https://dummyimage.com/600x400/eeeeee/fff&text=+" alt=""></li>
							<li><img src="https://dummyimage.com/600x400/eeeeee/fff&text=+" alt=""></li>
						</ul>
					</div>
					<div class="col">
						<img 
							src="assets/dresses/{{ product.thumbnail }}" 
							alt="{{ product.title }}"
							class="product__image">
					</div>
				</div>

				<div data-push-left="off-1_md-0" class="col-5_md-12">
					<div class="grid">
						<div class="col">
							
							<div>
								<h2 class="product__title">
									{{ product.title }}
								</h2>
								<h3 class="product__price">
									${{ product.price }}
								</h3>
							</div>

							<div class="product__controls">
								<select class="product__select">
									<option value="">Black</option>
									<option value="">Green</option>
									<option value="">Red</option>
									<option value="">Yellow</option>
								</select>
								<select class="product__select">
									<option value="">Select size</option>
									<option value="">S</option>
									<option value="">M</option>
									<option value="">L</option>
								</select>
								<a href="#" class="btn btn--block btn--blue">
									<i class="fa fa-shopping-bag"></i> add to bag
								</a>

								<a href="#" class="btn btn--block btn--grey">
									save for later
								</a>
							</div>


						</div>
						<div class="col-2">
							ooo
						</div>
					</div>
					<div class="tabs">
						<div class="tab">
							<input type="radio" id="content-one" name="tab-one" checked>
							<label for="content-one">Description</label>
							<div class="tab-content">
								<p>
									Description
								</p>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, quasi at, sunt aperiam libero veritatis enim nemo nobis dicta, magni sequi voluptatum nesciunt rerum exercitationem. Blanditiis maiores obcaecati atque incidunt!
								</p>
							</div>
						</div>

						<div class="tab">
							<input type="radio" id="content-two" name="tab-one">
							<label for="content-two">Brand</label>
							<div>
								<p>
									Brand
								</p>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, quasi at, sunt aperiam libero veritatis enim nemo nobis dicta, magni sequi voluptatum nesciunt rerum exercitationem. Blanditiis maiores obcaecati atque incidunt!
								</p>
							</div>
						</div>

						<div class="tab">
							<input type="radio" id="content-three" name="tab-one">
							<label for="content-three">Info</label>
							<div>
								<p>
									Info
								</p>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, quasi at, sunt aperiam libero veritatis enim nemo nobis dicta, magni sequi voluptatum nesciunt rerum exercitationem. Blanditiis maiores obcaecati atque incidunt!
								</p>
							</div>
						</div>
					</div> 
				</div>

			</div>

		</div>
	</section>

	<section class="section info">
		<div class="container--small">
			<h2 class="info__title">
				Sharpen your look
			</h2>
			<p class="info__text">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam cum perspiciatis eum deserunt atque esse obcaecati aspernatur corporis iusto labore eius harum eos quibusdam suscipit, consequuntur tenetur quisquam. Perspiciatis, nihil.
			</p>
		</div>
	</section>

	<section class="boxes">
		<div class="grid-2_sm-1-noGutter">
			<div class="col box">
				<img src="assets/boxes/black.png" 
					alt="Black dress"
					class="box__image">
			</div>
			<div class="col box box--dark">
				
				<div class="box__details">
					<h3 class="box__title">
						extraordinary design
					</h3>
					<p class="box__text">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis dignissimos error neque, ad fugit incidunt quaerat. Officia cum, nesciunt, quam temporibus, voluptas molestiae, fugit animi quo similique tempora a! Excepturi?
					</p>
					<p class="box__text">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat commodi, dolorum corporis obcaecati similique et! Voluptatibus doloribus perspiciatis hic blanditiis commodi rem, nam! Ab adipisci, ipsa molestias possimus molestiae perspiciatis.
					</p>
					<p>
						<a href="#" class="btn btn--default">
							read more
						</a>
					</p>
				</div>

			</div>
			<div class="col box box--blue">
				<div class="box__details">
					<h3 class="box__title">
						extraordinary design
					</h3>
					<p class="box__text">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis dignissimos error neque, ad fugit incidunt quaerat. Officia cum, nesciunt, quam temporibus, voluptas molestiae, fugit animi quo similique tempora a! Excepturi?
					</p>
					<p class="box__text">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat commodi, dolorum corporis obcaecati similique et! Voluptatibus doloribus perspiciatis hic blanditiis commodi rem, nam! Ab adipisci, ipsa molestias possimus molestiae perspiciatis.
					</p>
					<p>
						<a href="#" class="btn btn--default">
							read more
						</a>
					</p>
				</div>
			</div>
			<div class="col box">
				<img src="assets/boxes/black2.png" 
					alt="Black dress"
					class="box__image">
			</div>
		</div>
	</section>

	<section id="discount">
		<a href="#" class="btn btn--large">
			big discounts
		</a>
	</section>

</section>

<ng-template #notFound>
	Not found
</ng-template>