$btn: btn; // Name
$btn-ratio: 1.2;
$btns: (
  default: color(light),
  dark: color(dark-alternate)
);

@mixin btn-color($key) {
  $bg: map-get($btns, $key);
  
  border-color: $bg;
  color: $bg;
  
  &:hover,
  &:active {
    border-color: darken($bg, 5%);
    color: darken($bg, 5%);
  }
}

.#{$btn} {
  background: transparent;
  border: 1px solid white;
	color: color(light);
  cursor: pointer;
	
	display: inline-block;

	padding: 10px 20px;

	text-decoration: none;
  text-transform: uppercase;

  &--block {
    display: block;
    text-align: center;
  }

  &--grey {
    background: color(lightgrey);
    border-color: color(lightgrey);
    color: color(dark);
  }

  &--blue {
    background: color(blue);
    color: color(light);
    border-color: color(blue);
  }
  
  &--inverse {
    background: color(light);
    border-color: color(light);
    color: color(dark-alternate);
  }

  &--small {
    font-size: 1em / $btn-ratio;
  }

  &--large {
    padding: 20px;
    font-size: 1rem * $btn-ratio;
  }

  @each $key, $value in $btns {
    &--#{$key} {
      @include btn-color($key);
    }
  }
}