.form {
	line-height: 4;
}

.input {
  background: transparent;
  border: 1px solid color(light);
  color: white;
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
}

input:active {
	outline: none;
}

::placeholder {
	color: color(light);
	text-align: center;
}