@function color($value) {
	@if not map-has-key($colors, $value) {
		@warn "Color not found.";
	}
	@return map-get($colors, $value);
}

@function spacing($value) {
	@if not map-has-key($spacing, $value) {
		@warn "Spacing not found.";
	}
	@return map-get($spacing, $value);
}

@function rem($size) {
	$tmp: $size / 16px;
	@return $tmp * 1rem;
}

@function strip-units($number) {
  @return $number / ($number * 0 + 1);
}