@mixin responsivePadding($queries...) {
	@each $query, $padding in $queries {

		@if not map-has-key($breakpoints, $query) {
			@warn "Query #{$query} not found in map: $breakpoints";
		}

		@media screen and (min-width: map-get($breakpoints, $query)) {
			padding: #{$padding}; 
		}
	}
}

@mixin responsiveText($mobileSize, $desktopSize) {
    $maxResolution: strip-units($width);
    $size: strip-units($size);
    
    $desktopMediaSize: ($maxResolution * 1px);
    $mobileMediaSize: ( ($mobileSize * $size) / ( ($desktopSize * $size) / ($maxResolution / 100) ) ) * 100px;
    
    font-size: $mobileSize * 1rem;
        
    @media only screen and (min-width: $mobileMediaSize){
		font-size: ( ($desktopSize * $size) / ($maxResolution / 100) ) * 1vw;
	}
    
    @media only screen and (min-width: $desktopMediaSize) {
        font-size: $desktopSize * 1rem;
    }
}

@mixin breakpoint($media) {
	@media screen and (min-width: map-get($breakpoints, $media)) {
		@content;
	}
}