$fa-font-path : '../node_modules/font-awesome/fonts';
$font-family: 'Open Sans', sans-serif;

$colors: (
	blue: #33d0de,
	dark: #333333,
	dark-alternate: #58595c,
	grey: #707070,
	lightgrey: #eeeeee,
	light-alternate: #f8f8f8,
	light: white
);

$spacing: (
	xs: 10px,
	sm: 20px,
	md: 40px,
	lg: 60px
);

$breakpoints: (
	xs: 35.5em,
	sm: 48em,
	md: 64em,
	lg: 80em
);

$size: 14px;
$width: 1170px;