/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

@import 'variables';
@import 'mixins';
@import 'functions';
@import '../node_modules/normalize.css/normalize.css';
@import '../node_modules/gridlex/src/gridlex.scss';
@import '../node_modules/font-awesome/scss/font-awesome';

@import 'buttons';
@import 'form';

body {
	background: color(dark);
	font-family: $font-family;
	font-size: 14px;
}

main {
	background: color(light);
}

.container {
	margin: 0 auto;
	max-width: $width;

	/*padding: 0 spacing(xs);

	@include responsivePadding(
		(xs, 0 spacing(sm)),
		(md, 0 spacing(md))
  );

  &--spaceless {
  	padding: 0;
  }*/
}

.social-links a{
  text-align: center;
	float: left;
	width: 50px;
	height: 50px;
	border: 1px solid #909090;
	border-radius: 100%;
	margin-right: 7px; /*space between*/

} 
.social-links a i{
	font-size: 20px;
  line-height: 52px;
	color: #909090;
}

.container--small {
	@extend .container;
	max-width: 900px;
}

.section {
	padding: spacing(sm);

	@include responsivePadding(
		(sm, spacing(md)),
		(md, spacing(lg))
  );
}

.blue {
	background: color(blue);
	color: color(light);
}

.grey {
	background: color(lightgrey);
}

.xs-hidden {
	display: none;

	@include breakpoint('xs') {
		display: flex;
	}
}

.md-hidden {
	display: none !important;

	@include breakpoint('md') {
		display: flex !important;
	}
}

.right {
	text-align: right;
}

.transparent {
	background: transparent
}

// Headline

.headline {
	color: color(dark-alternate);
	margin-bottom: spacing(md);
	text-transform: uppercase;
}

.headline::before,
.headline::after {
	content: "";
	display: inline-block;
	content: "";
	border-top: 1px solid color(dark-alternate);
	width: 4rem;
	margin: 5px;
}

// Hero
.hero {
	color: color(light);
	line-height: 1.5;
	text-align: center;
  background-position: center center;
  background-size: cover;

	padding: 10vh 0;

  @include responsivePadding(
		(md, 15vh 0),
		(lg, 20vh 0)
  );
}

.hero__title {
	//font-size: 80px;
	@include responsiveText(2, 5);
	margin-top: 20px;
	text-transform: uppercase;
}

.hero__subtitle {
	font-weight: 100;
	@include responsiveText(1.5, 4);
  position: relative;
}

.hero__subtitle::before,
.hero__subtitle::after {
	content: "";
	display: inline-block;
	content: "";
	border-top: 1px solid color(dark-alternate);
	width: 4rem;
	margin: 5px;
}

// List
.list {
	list-style: none;

	li+li {
		margin-top: spacing(xs);
	}
}

.list__title {
	text-transform: uppercase;
}

.items-center,
.items-center .col {
	display: flex;
	align-items: center;
}

.self-center {
	align-self: center;
}

.text--center {
	text-align:center;
}

// Buttons
