@import '../../variables';
@import '../../functions';
@import '../../mixins';

.hero--home {
	background-image: url(/assets/home/banner.png);
	height: 40vh;
}

.intro {
	.col {
		min-height: 400px;
		padding: 10px 0;

		/*img {
			width: 100%;
			height: 100%;

		}*/
	}


	p {
		margin: 0;
	}

	.big {
		background: color(light-alternate);

		@include breakpoint(md) {
			box-shadow: 0 10px 10px rgba(0, 0, 0, 0.22);
			padding-left: 10px;
			padding-right: 10px;
		}
	}
}

.intro__inner {
	box-sizing: border-box;
	height: 100%;
	padding: 30px;
	text-align: center;

	@include breakpoint(md) {
		border: 2px solid #ddd;
	}
}

.intro__image {
	height: 70px;
	width: 70px;
}

.intro__headline {
	color: color(dark);
	text-transform: uppercase;
	@include responsiveText(1, 1.4);
}

.intro__text{
	color: color(dark-alternate);
	line-height: 1.5;
	text-transform: uppercase;
	@include responsiveText(1, 1.2);
}

.intro input[type="text"] {
	border-color: transparent transparent black transparent;
	box-sizing: border-box;
	width: 100%;

}

.intro .btn {
	width: 100%;
}

.intro input {
	margin-top: 20px;
}

.man, .woman {
	background-position: center top;
	background-size: cover;
	
	@include breakpoint(md) {
		margin: 10px 0;
	}
}

.man {
	background-image: url(/assets/home/man.png);
}

.woman {
	background-image: url(/assets/home/woman.png);
}

.promotion__image {
	width: 100%;
	display: block;
}

.promotion__big {
	height: 500px;
	img {
		width: 100%;
		height: 100%;
	}
}

.promotion__small {
	height: 250px;
	img {
		width: 100%;
		height: 100%;
	}
}

.controls__list {
	list-style: none;
	margin: 0 0 spacing(lg) 0;
	padding: 0;
	text-align: center;
}

.controls__item {
	display: inline;
	position: relative;

	&+.controls__item {
		margin-left: spacing(md);
	}

	.active:before {
		content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    background: color(dark-alternate);
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
	}
}

.controls__link {
	color: color(dark-alternate);
	font-size: $size * 1.2;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}

.sales__image {
	display: block;
	width: 100%;
}

.review__image {
	display: block;
	margin: 0 auto;
}

.review__details {
	line-height: 2;
	text-align: center;

	@include breakpoint(md) {
		max-width: 700px;
		margin: 0 auto;
	}
}

.review__text {
	font-style: italic;
}