<!--<app-slide [slides]="slides"></app-slide>-->

<section class="hero hero--home blue"></section>

<section class="section">
	<div class="container">
		<p>
			Quick n dirty menu
		</p>
		<ul>
			<li><a href="#" [routerLink]="['/collection']">Collection</a></li>
			<li><a href="#" [routerLink]="['/contact']">Contact</a></li>
		</ul>
	</div>
</section>

<section class="section intro">
	<div class="container">
		<div class="grid-3_md-1-noGutter">
			<div class="col man">
				<!--<img src="assets/home/man.png" alt="">-->
			</div>
			<div class="col big">
				<div class="intro__inner">
					<img src="assets/home/newsletter.png" 
						class="intro__image" alt="Newsletter">

					<h2 class="intro__headline">get our newsletter</h2>
					<p class="intro__text">
						join our maillist to recieve special discounts
					</p>
					<div>
						<form action="#">
							<input type="text" class="input"> <br>
							<input type="submit" value="subscribe"
								class="btn btn--dark btn--block">
						</form>
					</div>
				</div>
			</div>
			<div class="col woman">
				<!--<img src="assets/home/woman.png" alt="">-->
			</div>
		</div>
	</div>
</section>

<section class="section grey text--center">	
	<div class="container">
		<h3 class="headline">
			top brands
		</h3>

		<div class="grid-5_md-2_xs-1 items-center">
			<div class="col">
				<img src="assets/brands/pull-bear.png"
					alt="Pull&Bear">
			</div>
			<div class="col">
				<img src="assets/brands/michael-kors.png"
					alt="Michael Kors">
			</div>
			<div class="col">
				<img src="assets/brands/mango.png"
					alt="Mango">
			</div>
			<div class="col">
				<img src="assets/brands/missguided.png"
					alt="Missguided">
			</div>
			<div class="col">
				<img src="assets/brands/monki.png"
					alt="Monki">
			</div>

		</div>
	</div>
</section>

<section class="section promotion">
	<div class="container">
		
		<div class="grid">
			<div class="col-6_sm-12 promotion__big">
				<img src="assets/home/promotion-1.png" 
					alt=""
					class="promotion__image">
			</div>
			<div class="col-6_sm-12 grid-equalHeight">
				<div class="col-12 promotion__small">
					<img src="assets/home/promotion-2.png" alt=""
						class="promotion__image ">
				</div>
				<div class="col-12 promotion__small">
					<img src="assets/home/promotion-3.png" alt=""
						class="promotion__image">
				</div>
			</div>
		</div>

	</div>
</section>

<section *ngIf="products" class="section" id="collection">
	<div class="container container--spaceless">
	
		<div class="controls">
			<ul class="controls__list">
				<li class="controls__item">
					<a href="#" class="controls__link active">new arrivals</a>
				</li>
				<li class="controls__item">
					<a href="#" class="controls__link">top sellers</a>
				</li>
				<li class="controls__item">
					<a href="#" class="controls__link">featured</a>
				</li>
			</ul>
		</div>
	

		<div class="grid-4_lg-2_xs-1">
			<div *ngFor="let product of products" class="col item">
				<img class="item__image" 
				     src="assets/dresses/{{ product.thumbnail }}" alt="{{ product.title }}">
				
				<div class="item__details">
					<h4 class="item__title">
						{{ product.title }}
					</h4>

					<div class="item__actions">
						<div class="item__price">
							${{ product.price }}
						</div>
						<div class="item__link">
							<a [routerLink]="['/product', product.id]"
								class="btn btn--small btn--dark">
									<i class="fa fa-shopping-bag"></i> 
									add to bag
								</a>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</section>

<section class="sales">
	<img src="assets/home/sale.png" class="sales__image" alt="">
</section>

<section class="section blue review">
	<img src="assets/home/review.png" 
		alt="Review"
		class="review__image">
	<div class="review__details">
		<h3 class="review__name">
			Jane Smith
		</h3>
		<p class="review__text">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quae minima, saepe ducimus, aut accusamus consequuntur obcaecati voluptatem doloremque non ea dolorem, odit, vitae sed magnam. Ipsa nostrum at atque.
		</p>
	</div>
</section>
<!--
<div *ngIf="products">
	<div *ngFor="let product of products">
		<p>
			<strong>Title: </strong> {{ product.title }}
		</p>
		<p>
			<strong>Price</strong> {{ product.price }}
		</p>
		<p>
			<strong>Thumbnail: </strong> <br>
			<img src="assets/dresses/{{ product.thumbnail }}" alt="">
		</p>
		<p>
			<a [routerLink]="['/product', product.id]">View</a>
		</p>
	</div>
</div>-->